body {
    font-family: 'Source Sans Pro', sans-serif;
    border: 10px solid #bdc3c7;
    width: 75%;
    height: 100%;
    margin: 20px auto 0 auto;
}

h2, p, hr {
    margin: 0px 20px 0px 20px;
}

h2 {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 130%;
    text-align: justify;
    margin-bottom: 10px;
}

hr {
    background-color: #bdc3c7;
    height: 1px;
    margin-top: 20px;
}

.date {
    color: #3498db;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}